.clearfix {
  zoom: 1;
  &:before, &:after {
    content: '';
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
  }
}

body, p, ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-x: hidden;
  overflow-y: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

a {
  color: #FFF;
  text-decoration: none;
}

form, h1, h2, h3, input, option, select, table {
  font-family: "Neue Helvetica W01","Neue Helvetica W10","Neue Helvetica Arabic W20","Helvetica Neue",Helvetica,Arial,sans-serif;
}

$time: .5s;
