@import 'common.scss';

@media only screen and (max-height: 820px), (max-width: 1100px) {
  body {
    font-size: 80%;
  }
}

body {
  width: 100%;
  height: 100vh;
}

.top-bar {
  position: fixed;
  width: 100%;
  z-index: 2;
  opacity: 0;
  .logo {
    width: 200px;
    height: 20px;
    padding: 20px 10px;
    font-size: .875em;
    text-align: left;
    color: #FFF;
    opacity: .4;
  }
  .content-logo {
    position: absolute;
    left: 50%;
    a {
      display: block;
      width: 38px;
      height: 48px;
      margin-top: 6px;
      margin-left: -16px;
      background-image: url(../images/grandtour_logo.png);
      background-size: 100% 100%;
    }
  }
  .intro {
    margin-top: 14px;
    margin-right: 12.4em;
    .setting {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      >ul {
        padding: 2px;
      }
      .share-container {
        border-radius: 0;
        overflow: hidden;
        background-color: transparent;
        .icon-share {
          transition: all $time;
        }
        .share {
          position: relative;
          width: 0;
          height: 26px;
          background-color: transparent;
          transition: all $time;
          .share-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 26px;
            border-radius: 20px;
            background-color: rgba(255,255,255,.1);
            li {
              position: relative;
              font-size: 1.2em;
              color: #FFF;
              background-color: transparent;
              i {
                line-height: 1.2;
              }
            }
          }
        }
      }
      li {
        position: relative;
        float: left;
        margin-left: 6px;
        border-radius: 100%;
        background-color: rgba(255,255,255,.1);
        cursor: pointer;
        transition: all $time;
        &:hover {
          transform: scale(1.1)
        }
        i {
          display: block;
          width: 26px;
          height: 26px;
          font-size: 1.5em;
          color: #FFF;
          line-height: 1.4;
        }
        a {
          overflow: hidden;
          display: inline-block;
          width: 26px;
          height: 26px;
          border-radius: 100%;
          background-color: rgba(255,255,255,.1);
          font-size: 1.5em;
          color: #FFF;
          line-height: 1.4;
        }
      }
    }
  }
}

.switch {
  opacity: 0;
  position: absolute;
  display: inline-block;
  left: 50%;
  margin: 120px 0 0 -84px;
  z-index: 2;
  li {
    float: left;
    vertical-align: baseline;
    a {
      display: inline-block;
      width: 40px;
      height: 16px;
      padding: 6px 12px;
      border: 2px solid rgba(255,255,255,0);
      border-radius: 20px;
      margin: 10px 10px;
      color: rgba(255,255,255,.4);
      &:hover {
        color: #FFF;
      }
    }
    .active {
      border: 2px solid rgba(255,255,255,.4);
      color: #FFF;
    }
  }
}

.show {
  width: 0 !important;
 }
.iSshow {
  width: 100px !important;
}

.memo-button {
  position: absolute;
  top: 50%;
  right: -100px;
  width: 160px;
  height: 58px;
  margin-top: -29px;
  cursor: pointer;
  transition: all $time;
  z-index: 2;
  &:hover {
    right: -2px;
  }
  &:hover #lasche {
    fill: #000;
  }
  #lasche {
    width: 160px;
    height: 57px;
  }
  .memo-text {
    position: absolute;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1em;
    top: .9em;
    left: 70px;
    width: 80px;
    color: #FFF;
  }
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  .bg-video-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    //fix
    background-image: url(../images/loader_bg_intro.jpg);
    background-size: cover;
    #bg-video {
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
    }
  }
  .landing-page {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    .loading-body {
      position: absolute;
      top: 100px;
      width: 100%;
      height: 43.625em;
      margin: 0 auto;
      opacity: 0;
      #groundtour-logo {
        img {
          width: 6.9375em;
          height: 8.625em;
        }
      }
      h1 {
        margin: 10px 0;
        font-size: 5.25em;
        letter-spacing: 1px;
        font-weight: 200;
        color: #FFF;
      }
      .lead {
        font-size: 21px;
        line-height: 1.2em;
        color: #FFF;
      }
    }
    .loading {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      #circle {
        left: 50%;
        margin-top: 150px;
        margin-left: -50px;
      }
      .loading-txt {
        padding-top: 280px;
        h2 {
          margin-top: 0;
          font-size: 30px;
          font-weight: 200;
          color: #FFF;
          letter-spacing: 1px;
        }
      }
      img {
        width: 5em;
        height: 6.4em;
        margin-top: 20px;
      }
    }
  }
  #intro {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    .content-header {
      margin-top: 68px;
        h1 {
          margin: 0;
          font-size: 3.1em;
          line-height: 1em;
          text-align: center;
          color: #FFF;
          font-weight: 200;
          letter-spacing: 1px;
        }
    }
    .content-body {
      width: 62.375em;
      height: 43.625em;
      margin: 0 auto;
      #index-map {
        position: absolute;
        top: 120px;
        #route-wrap {
          position: relative;
          width: 62.375em;
          height: 43.625em;
          #map-interactive {
            position: absolute;
          }
          #map {
            position: absolute;
            .ill {
              position: absolute;
            }
            #illu-schaffausen {
              top: 100px;
              left: 460px;
            }
            #illu-stmoritz {
              top: 242px;
              left: 660px;
            }
            #illu-neuchatel {
              top: 160px;
              left: 100px;
            }
            #illu-lugano {
              top: 394px;
              left: 540px;
            }
            #illu-heidi {
              top: 230px;
              left: 520px;
            }
            #illu-zermatt {
              top: 400px;
              left: 220px;
            }
            #illu-grape {
              top: 280px;
              left: 136px;
            }
            #illu-luzern {
              top: 230px;
              left: 330px;
            }
            #illu-bern {
              top: 164px;
              left: 210px;
            }
            >img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      #index-list {
        position: absolute;
        top: 80px;
        opacity: 0;
      }
    }
  }
}

#logo-myswitzerland {
  position: absolute;
  right: 1.875em;
  z-index: 2;
  a {
    display: inline-block;
    width: 84px;
    height: 84px;
    margin-right: 30px;
    background-image: url(../images/st90_en.png);
    background-size: 100% 100%;
  }
}

.fadeOut {
  animation: fadeOut .6s 2s ease-in-out 1 !important;
  animation-fill-mode: forwards !important;
}

.fadeIn {
  animation: fadeIn 6.2s 3.8s ease-in-out 1 !important;
}

.fadeOut2 {
  animation: fadeOut 1s 1s ease 1;
  animation-fill-mode: forwards !important;
}

.fadeIn2 {
  animation: tabBarfadeIn 2s 2s ease-in-out 1;
  animation-fill-mode: forwards !important;
}

.topBarfadeIn {
  animation: tabBarfadeIn 1s 9.8s ease-in-out 1 !important;
  animation-fill-mode: forwards !important;
}

.introfadeIn {
  animation: tabBarfadeIn 1s 13s ease-in-out 1 !important;
  animation-fill-mode: forwards !important;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes tabBarfadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
