@import 'common.scss';

@media only screen and (max-height: 820px), (max-width: 1100px) {
  body {
    font-size: 80%;
  }
}

body {
  width: 100%;
  height: 100vh;
}

.top-bar {
  position: fixed;
  width: 100%;
  z-index: 2;
  opacity: 0;
  .logo {
    width: 200px;
    height: 20px;
    padding: 20px 10px;
    font-size: .875em;
    text-align: left;
    color: #FFF;
    opacity: .4;
  }
  .content-logo {
    position: absolute;
    left: 50%;
    a {
      display: block;
      width: 38px;
      height: 48px;
      margin-top: 6px;
      margin-left: -16px;
      background-image: url(../images/grandtour_logo.png);
      background-size: 100% 100%;
    }
  }
  .intro {
    margin-top: 14px;
    margin-right: 12.4em;
    .setting {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      >ul {
        padding: 2px;
      }
      .share-container {
        border-radius: 0;
        overflow: hidden;
        background-color: transparent;
        .icon-share {
          transition: all $time;
        }
        .share {
          position: relative;
          width: 0;
          height: 26px;
          background-color: transparent;
          transition: all $time;
          .share-icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 26px;
            border-radius: 20px;
            background-color: rgba(255,255,255,.1);
            li {
              position: relative;
              font-size: 1.2em;
              color: #FFF;
              background-color: transparent;
              i {
                line-height: 1.2;
              }
            }
          }
        }
      }
      li {
        position: relative;
        float: left;
        margin-left: 6px;
        border-radius: 100%;
        background-color: rgba(255,255,255,.1);
        cursor: pointer;
        transition: all $time;
        &:hover {
          transform: scale(1.1)
        }
        i {
          display: block;
          width: 26px;
          height: 26px;
          font-size: 1.5em;
          color: #FFF;
          line-height: 1.4;
        }
        a {
          overflow: hidden;
          display: inline-block;
          width: 26px;
          height: 26px;
          border-radius: 100%;
          background-color: rgba(255,255,255,.1);
          font-size: 1.5em;
          color: #FFF;
          line-height: 1.4;
        }
      }
    }
  }
}

.show {
  width: 0 !important;
 }
.iSshow {
  width: 100px !important;
}

.memo-button {
  position: absolute;
  top: 50%;
  right: -100px;
  width: 160px;
  height: 58px;
  margin-top: -29px;
  cursor: pointer;
  transition: all $time;
  z-index: 2;
  &:hover {
    right: -2px;
  }
  &:hover #lasche {
    fill: #000;
  }
  #lasche {
    width: 160px;
    height: 57px;
  }
  .memo-text {
    position: absolute;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 1em;
    top: .9em;
    left: 70px;
    width: 80px;
    color: #FFF;
  }
}

.container {
  position: fixed;
  width: 100%;
  height: 100%;
  .bg-video-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    #bg-video {
      width: 100%;
      height: 100%;
      top: 0;
    }
  }
  .landing-page {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    .content-body {
      position: absolute;
      top: 150px;
      width: 100%;
      margin: 0 auto;
      opacity: 0;
      #groundtour-logo {
        img {
          width: 6.9375em;
          height: 8.625em;
        }
      }
      h1 {
        margin: 10px 0;
        font-size: 5.25em;
        letter-spacing: 1px;
        font-weight: 200;
        color: #FFF;
      }
      .lead {
        font-size: 21px;
        line-height: 1.2em;
        color: #FFF;
      }
    }
    .loading {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      #circle {
        left: 50%;
        margin-top: 150px;
        margin-left: -50px;
      }
      .loading-txt {
        padding-top: 280px;
        h2 {
          margin-top: 0;
          font-size: 30px;
          font-weight: 200;
          color: #FFF;
          letter-spacing: 1px;
        }
      }
      img {
        width: 5em;
        height: 6.4em;
        margin-top: 20px;
      }
    }
  }
}

#logo-myswitzerland {
  position: absolute;
  right: 1.875em;
  z-index: 2;
  a {
    display: inline-block;
    width: 84px;
    height: 84px;
    margin-right: 30px;
    background-image: url(../images/st90_en.png);
    background-size: 100% 100%;
  }
}

.fadeOut {
  animation: fadeOut .6s 2s ease-in-out 1 !important;
  animation-fill-mode: forwards !important;
}

.fadeIn {
  animation: fadeIn 5.4s 3s ease-in-out 1 !important;
}

.topBarfadeIn {
  animation: tabBarfadeIn 1s 8s ease-in-out 1 !important;
  animation-fill-mode: forwards !important;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes tabBarfadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
